nimcache/
nimblecache/
workdir/
htmldocs/
bin/
*.exe
src/atlas.exe
src/*
!src/*.*
!src/basic
src/basic/*
!src/basic/*.*
tests/*
!tests/*.*
test-repos/*
!test-repos/*.*
test-repos/*.zip
atlas
deps.png
nim.cfg
