name: tagging release

on:
  push:
    tags:
    - '*'
    workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: amd64
            triple: x86_64-linux-gnu
            name: linux_x86_64
          - os: linux
            arch: aarch64
            triple: aarch64-linux-gnu
            name: linux_arm64
          - os: linux
            arch: arm
            triple: arm-linux-gnueabihf
            name: linux_arm
          - os: macosx
            arch: universal
            triple: x86_64-apple-darwin14
            name: apple_universal
          - os: windows
            arch: amd64
            triple: x86_64-w64-mingw32
            name: windows_x86_64
        include:
          - target:
              os: linux
            builder: ubuntu-latest
          - target:
              os: macosx
            builder: macos-latest
    defaults:
      run:
        shell: bash

    name: '${{ matrix.target.triple }}'
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: jiro4989/setup-nim-action@v1.5.1
        with:
          nim-version: "stable"

      - name: setup build
        if: ${{ matrix.builder }} == "ubuntu-latest"
        run: |
          sudo apt install gcc make gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu \
                                    gcc-arm-linux-gnueabihf binutils-arm-linux-gnueabihf \
                                    mingw-w64

      - name: build
        run: |
          OS=${{ matrix.target.os }} ARCH=${{ matrix.target.arch }} nim buildRelease

      - name: Compress the Nim Language Server binaries
        run: |
          tar -c -z -v -f atlas-${{ matrix.target.name }}.tar.gz `ls atlas{,.exe} 2>/dev/null || true`

      - name: Upload the Nim Language Server Binaries
        uses: actions/upload-artifact@v4
        with:
          name: atlas-${{ matrix.target.name }}.tar.gz
          path: atlas-${{ matrix.target.name }}.tar.gz

  create-github-release:
    name: Create Github Release
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artefacts
        uses: actions/download-artifact@v4

      - uses: ncipollo/release-action@v1
        with:
          name: Latest Binaries
          artifacts: "*/*"
          allowUpdates: true
          makeLatest: true

      - name: Delete artefacts
        uses: geekyeggo/delete-artifact@v5
        with:
          failOnError: false
          name: "atlas-*"